extends layout

block content
  p Welcome to #{title}
  img(src='pic1.jpg' width='35%' height='35%')
  
  p 
   |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed vulputate sem. In nunc enim, 
   |convallis sed ante eget, bibendum vehicula dolor. Ut porta lacus id mollis commodo. Etiam pulvinar 
   |lobortis leo non fringilla. Morbi quis orci tincidunt, auctor est nec, porttitor magna. Nunc scelerisque 
   |eleifend lorem eu tristique. Donec quis urna semper, consectetur velit et, auctor libero. Vivamus vitae 
   |consectetur dui, nec convallis sem. Praesent euismod nibh a ornare molestie. Vivamus at augue a mauris laoreet tempus
   |Ut pharetra, quam a bibendum hendrerit, purus metus lacinia ipsum, a vulputate enim urna vel odio. Aenean facilisis luctus 
   |dui sed vehicula. Vestibulum fermentum et tellus tempor posuere. Etiam at mi ante. Maecenas luctus consequat eros, vitae egestas 
   |nibh elementum in. Nam gravida dictum est sit amet scelerisque. Vestibulum sodales erat diam, a hendrerit nibh egestas non. 
   |Integer neque massa, pulvinar sit amet porta sit amet, luctus sed tortor. Cras euismod, quam sed tincidunt maximus, purus est 
   |mollis sem, ut condimentum ligula mauris quis ante. Pellentesque sit amet commodo arcu. Etiam sollicitudin, ante quis mattis sodales, 
   |ligula ligula pulvinar lacus, non semper lectus urna quis tortor. Donec luctus sit amet purus quis ullamcorper. 
   |Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eleifend, erat sit amet 
   |consectetur feugiat, elit dolor euismod purus, at suscipit augue eros efficitur lacus.

